<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blueprint</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="user-scalable = no" />
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inobounce/0.2.0/inobounce.min.js"
        integrity="sha256-Fc0S35M2Uo4ZMUBJy7ZWT+fkxv5Vpk8k1+cToMBUze4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/script.js" type="module" defer></script>
    <script src="js/utils.js" type="module" defer></script>
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <div id="app">
        <canvas id="drawingCanvas"></canvas>
        <div id="main" :class="selectedTheme"></div>
        <div id="miniAxis">
            <div id="handle">
            </div>
            <div id="toolSelection">
                <span>
                    <input type="radio" id="toolDraw" name="tools" value="draw" v-model="selectedTool" checked /><label
                        for="toolDraw">Draw</label>
                </span><span>
                    <input type="radio" id="toolEraser" name="tools" value="erase" v-model="selectedTool" /><label
                        for="toolEraser">Erase</label>
                </span><span>
                    <input type="radio" id="toolSelect" name="tools" value="select" v-model="selectedTool" /><label
                        for="toolSelect">Select</label>
                </span>
            </div>
            <span class="miniAxisButton">
                <input type="checkbox" id="lockRotation" v-model="controlsLocked">
                <label for="lockRotation">Lock</label></span>
        </div>
        <div id="mirror" v-if="selectedTool == 'draw'">Mirror:
            <input type="checkbox" id="mirrorX" v-model="mirrorX">
            <label for="mirrorX">X</label>
            <input type="checkbox" id="mirrorY" v-model="mirrorY">
            <label for="john">Y</label>
            <input type="checkbox" id="mirrorZ" v-model="mirrorZ">
            <label for="mirrorZ">Z</label>
        </div>

        <div id="lineSelection" v-if="selectedTool == 'draw'">

            <label for="lineColor">Color:</label>
            <input type="text" id="lineColor" name="lineColor" v-model="lineColor">

            <label for="lineWidth">Width</label>
            <input type="range" id="lineWidthSlider" name="lineWidth" min="1" max="50" v-model="lineWidth">
        </div>

        <div id="transformationSelection" v-if="selectedTool === 'select'">
            <span>
                <input type="radio" id="translate" name="transformations" value="translate"
                    v-model="selectedTransformation" checked /><label for="translate">Translate</label>
            </span>
            <span>
                <input type="radio" id="rotate" name="transformations" value="rotate"
                    v-model="selectedTransformation" /><label for="rotate">Rotate</label>
            </span>
            <span>
                <input type="radio" id="scale" name="transformations" value="scale"
                    v-model="selectedTransformation" /><label for="scale">Scale</label>
            </span>
        </div>
        <div v-if="selectedTool === 'select'" id="duplicate" class="button" v-on:click="duplicateSelected">Duplicate
        </div>

        <div id="themeSelection">
            <span>
                <input type="radio" id="blueprintTheme" name="themes" value="blueprint" v-model="selectedTheme"
                    checked /><label for="blueprintTheme">Blueprint</label>
            </span>
            <span>
                <input type="radio" id="lightTheme" name="themes" value="light" v-model="selectedTheme" /><label
                    for="lightTheme">Light</label>
            </span>
            <span>
                <input type="radio" id="darkTheme" name="themes" value="dark" v-model="selectedTheme" /><label
                    for="darkTheme">Dark</label>
            </span>
        </div>

        <div id="autoRotate">
            <input type="checkbox" id="autoRotate" v-model="autoRotate">
            <label for="autoRotate">Autorotate</label>
        </div>

    </div>
</body>
<script>
    document.body.addEventListener('touchmove', function (event) {
        event.preventDefault();
    },
        // {
        //     passive: false,
        //     useCapture: false
        // }
    );

    window.onresize = function () {
        //$(document.body).width(window.innerWidth).height(window.innerHeight);
    }
    // $(function () {
    //     window.onresize();
    // });
</script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            selectedTool: 'draw', //Options are 'draw', 'erase', 'select'
            selectedTransformation: 'translate', //Options are "translate", "rotate" and "scale"
            isAGroupSelected: false, //Transform tools must be restricted if true
            lineColor: 'rgb(255, 0, 0)', //Rgb value
            lineWidth: 20, //Default 1
            selectedTheme: 'blueprint', //Options are 'blueprint', 'light', 'dark'
            linesNeedThemeUpdate: false,
            controlsLocked: false,
            mirrorX: false,
            mirrorY: false,
            mirrorZ: false,
            autoRotate: false,
            selection: undefined, //to be filled from init
        },
        watch: {
            selectedTheme: function () {
                app.linesNeedThemeUpdate = true;
            },
            selectedTool: function () {
                //on tool change we always deselect
                app.selection.deselect();
            }
        },
        methods: {
            duplicateSelected: function () {
                app.selection.duplicate()
            }
        }

    })
</script>

</html>