<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hello!</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="user-scalable = no" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/script.js" type="module" defer></script>
    <script src="js/utils.js" type="module" defer></script>
    <link rel="stylesheet" href="/style.css" />
</head>

<!--<body>
    <canvas id="drawingCanvas"></canvas>
    <div id="main"></div>
    <div id="miniAxis">
        <div id="handle"></div>
    </div>
    <div id="toolSelection">
        <span>
            <input type="radio" id="toolDraw" name="tools" value="draw" /><label for="toolDraw">Draw</label>
        </span>
        <span>
            <input type="radio" id="toolEraser" name="tools" value="erase" /><label for="toolEraser">Eraser</label>
        </span>
        <span>
            <input type="radio" id="toolSelect" name="tools" value="select" /><label for="toolSelect">Select</label>
        </span>
    </div>
</body>-->

<body>
    <div id="app">
        <canvas id="drawingCanvas"></canvas>
        <div id="main"></div>
        <div id="miniAxis">
            <div id="handle"></div>
        </div>
        <div id="mirror">
            <input type="checkbox" id="mirrorX" v-model="mirrorX">
            <label for="mirrorX">X</label>
            <input type="checkbox" id="mirrorY" v-model="mirrorY">
            <label for="john">Y</label>
            <input type="checkbox" id="mirrorZ" v-model="mirrorZ">
            <label for="mirrorZ">Z</label>
        </div>
        <div id="toolSelection">
            <span>
                <input type="radio" id="toolDraw" name="tools" value="draw" v-model="selectedTool" checked /><label
                    for="toolDraw">Draw</label>
            </span>
            <span>
                <input type="radio" id="toolEraser" name="tools" value="erase" v-model="selectedTool" /><label
                    for="toolEraser">Eraser</label>
            </span>
            <span>
                <input type="radio" id="toolSelect" name="tools" value="select" v-model="selectedTool" /><label
                    for="toolSelect">Select</label>
            </span>
        </div>

        <div id="transformationSelection" v-if="selectedTool === 'select'">
            <span>
                <input type="radio" id="translate" name="transformations" value="translate"
                    v-model="selectedTransformation" checked /><label for="translate">Translate</label>
            </span>
            <span>
                <input type="radio" id="rotate" name="transformations" value="rotate"
                    v-model="selectedTransformation" /><label for="rotate">Rotate</label>
            </span>
            <span>
                <input type="radio" id="scale" name="transformations" value="scale"
                    v-model="selectedTransformation" /><label for="scale">Scale</label>
            </span>
        </div>

    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            selectedTool: 'draw', //Options are 'draw', 'erase', 'select'
            selectedTransformation: 'translate', //Options are "translate", "rotate" and "scale"
            isAGroupSelected: false, //Transform tools must be restricted if true
            lineColor: '206, 216, 247', //Rgb value
            lineWidth: 1, //Default
            theme: 'blueprint', //Options are 'blueprint', 'light', 'dark'
            controlsLocked: false,
            mirrorX: false,
            mirrorY: false,
            mirrorZ: false
        }
    })
</script>

</html>