body, html, #app { 
  width: 100%;
  height: 100%;
  /* position: fixed; */
  overflow: hidden;
  font-family: monospace;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
background-color: black;
margin: 0px;
}

.blueprint {
  background-color: rgb(0, 32, 130);
}

.light {
  background-color: rgb(255,255,255);
}

.dark {
  background-color: rgb(7, 7, 7);
}

.controls {
  background-color: #666;
  position: absolute;
  top: 0;
  right: 0;
}

#main {
  width: 100%;
  height: 100%;
}

#miniAxis {
  width: 250px;
  height: 250px;
  position: absolute;
  border-radius: 8px;
  left: 8px;
  bottom: 41px;
  z-index: 4;
  border-radius: 0px 0px 8px 8px;
}

#miniAxis>canvas{
  border-radius: 0px 0px 8px 8px;
  z-index: 5;
}

#handle {
  width: 100%;
  height: 44px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px 8px 0px 0px;
  z-index: 6;
  cursor: move;
}

.miniAxisButton{
  height: 20px;
  width: auto;
  background-color: black;
  border-radius: 16px;
  position: absolute;
  right: 8px;
  top: 100px;
  color: white;
  padding: 4px 8px;
}

#undo {
  position: absolute;
  top: 8px;
  right: 8px;
}

.button {
  z-index: 5;
  background: #333; /* Grey background */
  outline: none; /* Remove outline */
  padding: 16px;
  border-radius: 40px;
  box-sizing: border-box;
  color: white;
  display: flex;
  align-items: center;
  height: 44px;
}

#drawingCanvas {
  position: absolute;
   z-index: 2;
}

#toolSelection {
  position: relative;
  white-space: discard;
  /* top: 40px;
  left: 10px;
  z-index: 5; */
}
#toolSelection input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
  position: absolute;
}
#toolSelection span {
  display: inline-block;
  width: 33.333%;
  box-sizing: border-box;
  text-align: center;
}
#toolSelection span label {
  padding: 10px;
  border: 1px solid black;
  color: white;
  background-color: black;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
 }
#toolSelection input[type="radio"]:checked + label {
    background-color: black;
    border-color: #4c4;
}

.selectBox {
				border: 1px solid #55aaff;
				background-color: rgba(75, 160, 255, 0.3);
				position: fixed;
        z-index: 9999;
}

#transformationSelection, #lineSelection, #themeSelection {
  position: absolute;
  top: 10px;
  /* background-color: black; */
  /* padding: 16px; */
  color: white;
  z-index: 5;
}

#transformationSelection, #lineSelection {
  left: 10px;
}

#lineWidth {
  width: 120px;
}

.lineWidthLabel {
  margin-right: 8px;
  width: 40px;
  text-align: center;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#lineWidthBg {
  background-color: rgba(255,255,255,0.1);
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
}

#indicator {
  height: 1px;
  width: 1px;
  transform-origin: center;
  display: inline;
  border-radius: 40px;
}

#themeSelection {
  top: auto;
  bottom: 40px;
  right: 160px;
}

#mirror {
  position: absolute;
  top: 8px;
  left: 136px;
}

.radio-mirror-item {
  display: inline-block;
  position: relative;
}

.radio-mirror-item label {
  position: relative;
  color: black;
  margin-left: 8px;
}

.radio-mirror-item input[type='radio'] {
  display: none;
}

.radio-mirror-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: transparent;
}

.radio-mirror-item input[type=radio]:checked + label:after {
  border-radius: 30px;
  width: 28px;
  height: 28px;
  position: absolute;
  top: -18px;
  left: 3px;
  content: " ";
  display: block;
}

.radio-mirrorX label:before {
  border: 2px solid rgb(0, 255, 0);
}

.radio-mirrorX input[type=radio]:checked + label:after {
  background-color: rgb(0, 255, 0);
}

.radio-mirrorY label:before {
  border: 2px solid rgb(255, 0, 0);
}

.radio-mirrorY input[type=radio]:checked + label:after {
  background-color: rgb(255, 0, 0);
}

.radio-mirrorZ label:before {
  border: 2px solid rgb(0, 0, 255);
}

.radio-mirrorZ input[type=radio]:checked + label:after {
  background-color: rgb(0, 0, 255);
}


#autoRotate {
  position: absolute;
  bottom: 40px;
  right: 10px;
  width: 100px;
  background-color: black;
  padding: 16px;
  z-index: 5;
}

#duplicate {
  color: white;
  background-color: black;
  z-index: 5;
  position: absolute;
  top: 10px;
  left: 250px;
}