<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blueprinter</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="user-scalable = no" />
    <link rel="apple-touch-icon" sizes="152x152" href="../img/icon.png">
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <script src="../build/gif.js" defer></script>
    <script src="../build/pngcrush-class.js" defer></script>
    <script src="../src/script.js" type="module" defer></script>
    <script src="../build/utils.js" type="module" defer></script>
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

</head>
<div id="welcome">Loading…</div>

<body>
    <div id="app">
        <modal v-if="modal.show" @close="modal.show = false" :mode="modal.mode" :title="modal.title"
            :helptext="modal.helptext" :source="modal.image">
        </modal>
        <toast v-if="toast.show" :text=toast.text></toast>

        <canvas id="drawingCanvas"></canvas>
        <div id="main" :class="selectedTheme"></div>

        <div id="toolSelection" v-bind:class="[ui.show ? '' : 'hidden']">
            <span>
                <input type="radio" id="toolDraw" name="tools" value="draw" v-model="selectedTool" /><label
                    for="toolDraw">
                    Draw
                </label>
                <div></div>
            </span><span>
                <input type="radio" id="toolEraser" name="tools" value="erase" v-model="selectedTool" /><label
                    for="toolEraser">
                    Erase
                </label>
                <div></div>
            </span><span>
                <input type="radio" id="toolSelect" name="tools" value="select" v-model="selectedTool" checked /><label
                    for="toolSelect">
                    Select
                </label>
                <div></div>
            </span>
        </div>

        <div id="miniAxis" v-bind:class="[ui.show ? '' : 'hidden']">
            <div class="handle" id="miniAxisHandle">
                <div class="handleLine"></div>
                <div class="handleLine"></div>
            </div>
            <span class="reset-camera" @click="resetCamera()">Reset</span>
        </div>

        <div class="toolbar" id="toolbar"
            v-bind:class="[ui.show == true ? '' : 'hidden', selectedTool != 'erase' ? '' : 'hidden']">
            <div class="handle" id="toolbarHandle">
                <div class="handleLine"></div>
                <div class="handleLine"></div>
            </div>

            <span class="lineTools" v-if="selectedTool == 'draw'">
                <div class="toolbarLabel">Width</div>
                <span id="lineWidth">
                    <span>
                        <input type="radio" id="smallestLineWidth" value="1" name="smallestLineWidth"
                            v-model="lineWidth">
                        <label for="smallestLineWidth">
                            <span id="smallestLineWidthIndicator" class="indicator"
                                v-bind:style="{backgroundColor: lineColor}"></span>
                        </label>
                        <div></div>
                    </span>
                    <span>
                        <input type="radio" id="smallLineWidth" value="3" name="smallLineWidth" v-model="lineWidth">
                        <label for="smallLineWidth">
                            <span id="smallLineWidthIndicator" class="indicator"
                                v-bind:style="{backgroundColor: lineColor}"></span>
                        </label>
                        <div></div>
                    </span>
                    <span>
                        <input type="radio" id="mediumLineWidth" value="10" name="mediumLineWidth" v-model="lineWidth">
                        <label for="mediumLineWidth"><span id="mediumLineWidthIndicator" class="indicator"
                                v-bind:style="{backgroundColor: lineColor}"></span></label>
                        <div></div>
                    </span>
                    <span>
                        <input type="radio" id="largeLineWidth" value="30" name="largeLineWidth" v-model="lineWidth">
                        <label for="largeLineWidth"><span id="largeLineWidthIndicator" class="indicator"
                                v-bind:style="{backgroundColor: lineColor}"></span></label>
                        <div></div>
                    </span>
                </span>

                <div class="toolbarLabel">Color</div>
                <span id="lineColor">
                    <span>
                        <input type="radio" id="lightestColor" value="lightest" name="lightestColor"
                            v-model="selectedColor">
                        <label for="lightestColor">
                            <span class="colorSelector indicator" id="lightestColorSelector"></span>
                        </label>
                        <div></div>
                    </span>
                    <span>
                        <input type="radio" id="lightColor" value="light" name="lightColor" v-model="selectedColor">
                        <label for="lightColor">
                            <span class="colorSelector indicator" id="lightColorSelector"></span>
                        </label>
                        <div></div>
                    </span>
                    <span>
                        <input type="radio" id="mediumColor" value="medium" name="mediumColor" v-model="selectedColor">
                        <label for="mediumColor">
                            <span class="colorSelector indicator" id="mediumColorSelector"></span>
                        </label>
                        <div></div>
                    </span>
                    <span>
                        <input type="radio" id="darkColor" value="dark" name="darkColor" v-model="selectedColor">
                        <label for="darkColor">
                            <span class="colorSelector indicator" id="darkColorSelector"></span>
                        </label>
                        <div></div>
                    </span>

                </span>

                <div class="toolbarLabel">Mirror</div>
                <span id="mirror" class="button">
                    <span>
                        <input type="radio" value="false" name="noMirror" id="noMirror" v-model="mirror">
                        <label for="noMirror">
                            <span class='mirrorRadio indicator'>No</span>
                        </label>
                        <div></div>
                    </span>
                    <span>
                        <input type="radio" value="x" name="mirrorX" id='mirrorX' v-model="mirror">
                        <label for="mirrorX">
                            <span class='mirrorRadio indicator'>X</span>
                        </label>
                        <div></div>
                    </span>
                    <span>
                        <input type="radio" value="y" name="mirrorY" id='mirrorY' v-model="mirror">
                        <label for="mirrorY">
                            <span class='mirrorRadio indicator'>Y</span>
                        </label>
                        <div></div>
                    </span>
                    <span>
                        <input type="radio" value="z" name="mirrorZ" id='mirrorZ' v-model="mirror">
                        <label for="mirrorZ">
                            <span class='mirrorRadio indicator'>Z</span>
                        </label>
                        <div></div>
                    </span>

                </span>

                <div class="button" id="simplify">
                    <span class="toolbarLabel">Simplify <span>{{simplify}}</span></span>
                    <div>
                        <input type="range" id="simplify" name="simplify" min="0.005" max="0.05" step="0.00005"
                            value="0.004" v-model="simplify">
                    </div>
                </div>

                <div class="button" id="iternations">
                    <span class="toolbarLabel">Iterations <span>{{iterations}}</span></span>
                    <div>
                        <input type="range" id="iterations" name="iterations" min="0" max="1000" step="10" value="0"
                            v-model="iterations">
                    </div>
                </div>

                <div class="button" id="segment">
                    <span class="toolbarLabel">Segment <span>{{segment}}</span></span>
                    <div>
                        <input type="range" id="segment" name="segment" min="0" max="100" step="10" value="0"
                            v-model="segment">
                    </div>
                </div>

                <div class="button" id="segment">
                    <span class="toolbarLabel">Catmull <span>{{catmull}}</span></span>
                    <div>
                        <input type="checkbox" id="segment" v-model="catmull">
                    </div>
                </div>

                <div class="button" id="zDepth" v-if="experimental">
                    <span class="toolbarLabel">Drawing plane</span>
                    <div>
                        <label for="distance">
                            <span class="depthLabel">Far</span>
                        </label>
                        <label for="distance">
                            <span class="depthLabel near">Near</span>
                        </label>
                        <input type="range" id="distance" name="distance" min="-0.25" max="0.25" step="0.01" value="0"
                            v-model="zDepth">
                    </div>
                </div>

            </span>

            <span id="transformationSelection" v-if="selectedTool === 'select'">
                <span>
                    <input type="radio" id="translate" name="transformations" value="translate"
                        v-model="selectedTransformation" checked /><label for="translate">
                        Move</label>
                    <div></div>
                </span>
                <span>
                    <input type="radio" id="rotate" name="transformations" value="rotate"
                        v-model="selectedTransformation" /><label for="rotate">
                        Rotate</label>
                    <div></div>
                </span>
                <span>
                    <input type="radio" id="scale" name="transformations" value="scale"
                        v-model="selectedTransformation" /><label for="scale">
                        Scale</label>
                    <div></div>
                </span>
            </span>
            <button v-if="selectedTool === 'select'" id="duplicate" class="button"
                v-bind:class="[selection.selected.length ? '' : 'disabled']" v-on:click="duplicateSelected">Duplicate
                selection
            </button>
        </div>

        <div id="saveLoad">
            <button id="Save" @click="exportTo.imageWithEncodedFile"
                v-bind:class="[ui.show ? '' : 'hidden']">Save…</button>
            <button id="Load" v-bind:class="[ui.show ? '' : 'hidden']">Load…</button>
            <button v-if="experimental" id="Export" @click="exportTo.geometry"
                v-bind:class="[ui.show ? '' : 'hidden']">Export
                geometry</button>
            <button id="makeGif" @click="exportTo.gif" v-bind:class="[ui.show ? '' : 'hidden']">Make gif</button>
            <button @click="toggleUi()">{{ui.show?"Hide menus":"Show menus"}}</button>
            <button>
                <span>{{fog}}</span><input type="range" id="fog" name="fog" min="10" max="15" step="0.01" value="1"
                    v-model="fog">
            </button>
        </div>
    </div>
</body>
<script>
    document.body.addEventListener('touchmove', function (event) {
        event.preventDefault();
    },
        // {
        //     passive: false,
        //     useCapture: false
        // }
    );

    window.onresize = function () {
        //$(document.body).width(window.innerWidth).height(window.innerHeight);
    }
    // $(function () {
    //     window.onresize();
    // });
</script>

</html>
<!-- 
<script>
        (function (d, t) {
            var BASE_URL = "https://app.chatwoot.com";
            var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
            g.src = BASE_URL + "/packs/js/sdk.js";
            s.parentNode.insertBefore(g, s);
            g.onload = function () {
                window.chatwootSDK.run({
                    websiteToken: '3JCrKwZRhQ94uUDyoWa3fghr',
                    baseUrl: BASE_URL
                })
            }
        })(document, "script");
</script> -->