<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blueprinter</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="user-scalable = no" />
    <link rel="apple-touch-icon" sizes="152x152" href="../img/icon.png">
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <script src="../build/gif.js" defer></script>
    <script src="../build/pngcrush-class.js" defer></script>
    <script src="../src/script.js" type="module" defer></script>
    <script src="../build/utils.js" type="module" defer></script>
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />

</head>
<div id="welcome">Loading…</div>

<body>
    <div id="app">
        <modal v-if="modal.show" @close="modal.show = false" :mode="modal.mode" :title="modal.title"
            :helptext="modal.helptext" :source="modal.image">
        </modal>
        <toast v-if="toast.show" :text=toast.text></toast>
        <button class="blackButton" id="toggleUi" @click="toggleUi()">{{ui.show?"Hide menus":"Show menus"}}</button>

        <canvas id="drawingCanvas"></canvas>
        <div id="main" :class="selectedTheme"></div>
        <div id="miniAxis" v-bind:class="[ui.show ? '' : 'hidden']">
            <div class="handle" id="miniAxisHandle">
                <div class="handleLine"></div>
                <div class="handleLine"></div>
            </div>
            <span class="reset-camera" @click="resetCamera()">Reset</span>
            <div id="toolSelection">
                <span>
                    <input type="radio" id="toolDraw" name="tools" value="draw" v-model="selectedTool" /><label
                        for="toolDraw">
                        Draw
                    </label>
                </span><span>
                    <input type="radio" id="toolEraser" name="tools" value="erase" v-model="selectedTool" /><label
                        for="toolEraser">
                        Erase
                    </label>
                </span><span>
                    <input type="radio" id="toolSelect" name="tools" value="select" v-model="selectedTool"
                        checked /><label for="toolSelect">
                        Select
                    </label>
                </span>
            </div>
        </div>

        <div class="toolbar" id="toolbar" v-bind:class="[ui.show ? '' : 'hidden']">
            <div class=" handle" id="toolbarHandle">
                <div class="handleLine"></div>
                <div class="handleLine"></div>
            </div>

            <div class="lineTools" v-if="selectedTool == 'draw'">
                <div id="lineSelection">
                    <div id="lineWidth" class="button">
                        <span class="toolbarLabel">Width</span>
                        <div>
                            <input type="radio" id="smallestLineWidth" value="1" name="smallestLineWidth"
                                v-model="lineWidth">
                            <label for="smallestLineWidth">
                                <span id="smallestLineWidthIndicator"></span>
                            </label>
                        </div>
                        <div>
                            <input type="radio" id="smallLineWidth" value="3" name="smallLineWidth" v-model="lineWidth">
                            <label for="smallLineWidth">
                                <span id="smallLineWidthIndicator"></span>
                            </label>
                        </div>
                        <div>
                            <input type="radio" id="mediumLineWidth" value="10" name="mediumLineWidth"
                                v-model="lineWidth">
                            <label for="mediumLineWidth"><span id="mediumLineWidthIndicator"></span></label>
                        </div>
                        <div>
                            <input type="radio" id="largeLineWidth" value="30" name="largeLineWidth"
                                v-model="lineWidth">
                            <label for="largeLineWidth"><span id="largeLineWidthIndicator"></span></label>
                        </div>
                    </div>
                </div>

                <div id="lineColor" class="button">
                    <span class="toolbarLabel">Color</span>
                    <div>
                        <input type="radio" id="lightestColor" value="lightest" name="lightestColor"
                            v-model="selectedColor">
                        <label for="lightestColor">
                            <span class="colorSelector" id="lightestColorSelector"></span>
                        </label>
                    </div>
                    <div>
                        <input type="radio" id="lightColor" value="light" name="lightColor" v-model="selectedColor">
                        <label for="lightColor">
                            <span class="colorSelector" id="lightColorSelector"></span>
                        </label>
                    </div>
                    <div>
                        <input type="radio" id="mediumColor" value="medium" name="mediumColor" v-model="selectedColor">
                        <label for="mediumColor">
                            <span class="colorSelector" id="mediumColorSelector"></span>
                        </label>
                    </div>
                    <div>
                        <input type="radio" id="darkColor" value="dark" name="darkColor" v-model="selectedColor">
                        <label for="darkColor">
                            <span class="colorSelector" id="darkColorSelector"></span>
                        </label>
                    </div>

                </div>
                <div id="mirror" class="button">
                    <span class="toolbarLabel">Mirror</span>
                    <div>
                        <input type="radio" value="false" name="noMirror" id="noMirror" v-model="mirror">
                        <label for="noMirror">
                            <span class='mirrorRadio'>No</span>
                        </label>
                    </div>
                    <div>
                        <input type="radio" value="x" name="mirrorX" id='mirrorX' v-model="mirror">
                        <label for="mirrorX">
                            <span class='mirrorRadio'>X</span>
                        </label>
                    </div>
                    <div>
                        <input type="radio" value="y" name="mirrorY" id='mirrorY' v-model="mirror">
                        <label for="mirrorY">
                            <span class='mirrorRadio'>Y</span>
                        </label>
                    </div>
                    <div>
                        <input type="radio" value="z" name="mirrorZ" id='mirrorZ' v-model="mirror">
                        <label for="mirrorZ">
                            <span class='mirrorRadio'>Z</span>
                        </label>
                    </div>

                </div>
                <div class="button" id="zDepth" v-if="experimental">
                    <span class="toolbarLabel">Drawing plane</span>
                    <div>
                        <label for="distance">
                            <span class="depthLabel">Far</span>
                        </label>
                        <label for="distance">
                            <span class="depthLabel near">Near</span>
                        </label>
                        <input type="range" id="distance" name="distance" min="-0.25" max="0.25" step="0.01" value="0"
                            v-model="zDepth">
                    </div>
                </div>
            </div>

            <div id="transformationSelection" v-if="selectedTool === 'select'">
                <span>
                    <input type="radio" id="translate" name="transformations" value="translate"
                        v-model="selectedTransformation" checked /><label for="translate">
                        Move</label>
                </span>
                <span>
                    <input type="radio" id="rotate" name="transformations" value="rotate"
                        v-model="selectedTransformation" /><label for="rotate">
                        Rotate</label>
                </span>
                <span>
                    <input type="radio" id="scale" name="transformations" value="scale"
                        v-model="selectedTransformation" /><label for="scale">
                        Scale</label>
                </span>
            </div>
            <div v-if="selectedTool === 'select'" id="duplicate" class="button"
                v-bind:class="[selection.selected.length ? '' : 'disabled']" v-on:click="duplicateSelected">Duplicate
            </div>
        </div>

        <div id="saveLoad" v-bind:class="[ui.show ? '' : 'hidden']">
            <button id="Save" @click="exportTo.imageWithEncodedFile" class="blackButton">Save…</button>
            <button id="Load" class="blackButton">Load…</button>
            <button v-if="experimental" id="Export" @click="exportTo.geometry" class="blackButton">Export
                geometry</button>
            <button id="makeGif" @click="exportTo.gif" class="blackButton">Make gif</button>
        </div>
    </div>
</body>
<script>
    document.body.addEventListener('touchmove', function (event) {
        event.preventDefault();
    },
        // {
        //     passive: false,
        //     useCapture: false
        // }
    );

    window.onresize = function () {
        //$(document.body).width(window.innerWidth).height(window.innerHeight);
    }
    // $(function () {
    //     window.onresize();
    // });
</script>

</html>

<script>
        (function (d, t) {
            var BASE_URL = "https://app.chatwoot.com";
            var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
            g.src = BASE_URL + "/packs/js/sdk.js";
            s.parentNode.insertBefore(g, s);
            g.onload = function () {
                window.chatwootSDK.run({
                    websiteToken: '3JCrKwZRhQ94uUDyoWa3fghr',
                    baseUrl: BASE_URL
                })
            }
        })(document, "script");
</script>