/* :root {
  --bg-color:rgb(2, 32, 131);
  --accent-color:rgb(254, 207, 18);
  --accent-color-selected:rgb(218, 175, 1);
  --ui-bg-color:rgb(0, 0, 0);
  --line-color-lightest:rgb(255, 255, 255);
  --line-color-light:rgb(217, 224, 247);
  --line-color-medium:rgb(99, 134, 227);
  --line-color-dark:rgb(72, 114, 223);
}  */

/* :root {
  --bg-color:rgb(90, 84, 117);
  --accent-color:rgb(197, 163, 255);
  --accent-color-selected:rgb(113, 103, 153);
  --ui-bg-color:rgb(0, 0, 0);
  --line-color-lightest:rgb(248, 248, 242);
  --line-color-light:rgb(255, 184, 209);
  --line-color-medium:rgb(197, 163, 255);
  --line-color-dark:rgb(113, 103, 153);
}  */

/* Full orange */
/* :root {
  --bg-color:rgb(60,57,60);
  --accent-color:rgb(255, 176, 0);
  --accent-color-selected:rgb(228, 156, 0);
  --ui-bg-color:rgb(30, 30, 30);
  --line-color-lightest:rgb(255, 242, 213);
  --line-color-light:rgb(255, 231, 178);
  --line-color-medium:rgb(255, 220, 142);
  --line-color-dark:rgb(255, 209, 107);
} */

/* Orange and green */
/* :root {
  --bg-color:rgb(30,25,30);
  --accent-color:rgb(255, 176, 0);
  --accent-color-selected:rgb(228, 156, 0);
  --ui-bg-color:rgb(140, 140, 140);
  --line-color-lightest:#00FF66;
  --line-color-light:#0ADE5F;
  --line-color-medium:#14BD58;
  --line-color-dark:#287B4A;
} */

/* :root {
  --bg-color:rgb(255, 255, 255);
  --accent-color:rgb(254, 207, 18);
  --accent-color-selected:rgb(218, 175, 1);
  --ui-bg-color:rgb(20, 20, 20);
  --line-color-lightest:rgb(30, 30, 30);
  --line-color-light:rgb(90, 90, 90);
  --line-color-medium:rgb(120, 120, 120);
  --line-color-dark:rgb(170, 170, 170);
}  */

:root {
  --bg-color:rgb(255, 255, 255);
  --accent-color:rgb( 245, 223, 77);
  --accent-color-selected:rgb( 245, 223, 77);
  --ui-bg-color:rgb( 147 149 151);
  --line-color-lightest:rgb(30, 30, 30);
  --line-color-light:rgb(90, 90, 90);
  --line-color-medium:rgb(120, 120, 120);
  --line-color-dark:rgb(170, 170, 170);
} 

:root {
  --ui-bg-color-r:0;
  --ui-bg-color-g:0;
  --ui-bg-color-b:0;
}

@font-face {
  font-family: "VCR";
  src: url("../fonts/VCR_OSD_MONO.eot");
  src: url("../fonts/VCR_OSD_MONO.eot") format("embedded-opentype"),
  url("../fonts/VCR_OSD_MONO.woff") format("woff"),
  url("../fonts/VCR_OSD_MONO.ttf") format("truetype"),
  url("../fonts/VCR_OSD_MONO.svg") format("svg");
  font-weight: "normal";
  font-style: "normal"; }

body, html, #app { 
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "VCR";
  text-transform: uppercase;
  /* text-shadow: 0px 1px 0px rgba(255,0,0,0.5), 0px -1px 0px rgba(0,255,0,0.5); */
  font-weight: 400;
  font-size: 12px;
  /* text-transform: uppercase; */
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
background-color: black;
margin: 0px;
}

#welcome {
  z-index: 7;
  position: absolute;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  color: white;
  background-color: var(--ui-bg-color);
  opacity: 0.9;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.blueprint {
  background-color: var(--bg-color);
}

.controls {
  background-color: var(--ui-bg-color);
  position: absolute;
  top: 0;
  right: 0;
}

#main {
  width: 100%;
  height: 100%;
}

#miniAxis {
  /* set width to 210px to give room to camera controls again */
  width: 160px;
  height: 176px;
  position: absolute;
  border-radius: 8px;
  left: 10px;
  top: 8px;
  z-index: 4;
  border-radius: 8px;
  background-color: rgba(var(--ui-bg-color-r),var(--ui-bg-color-g),var(--ui-bg-color-b),0.8);
}

#miniAxis>canvas{
  /* border-radius: 0px 0px 8px 0px; */
  z-index: 4;
  float: left;
  position: relative;
  top: -32px;
  left: 8px;
}

.circle-under-orientation-gizmo {
	background-color: rgba(255,255,255,0.2);
	content: '';
	display: block;
	position: absolute;
	z-index: -1;
	float: left;
	left: 24px;
	top: 24px;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.label-camera {
  text-align: center;
  font-size: 0.65em;
  color: white;
  width: 50px;
  margin-bottom: 8px;
  content: '';
  white-space: pre
}

.reset-camera {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  background-color: rgba(255,255,255,0.2);
  font-size: 2em;
  line-height: 1em;
  position: absolute;
  color: rgba(255,255,255,1);
  opacity: 1;
  bottom: 8px;
  right: 8px;
  justify-content: center;
  align-content: center;
  text-align: center;
  z-index: 6;
}

.handle {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  margin-top: 8px;
  padding-top: 15px;
  background-color: var(--ui-bg-color);
  border-radius: 32px;
  border: 1px solid var(--accent-color);
  position: relative;
  z-index: 7;
  cursor: move;
  box-sizing: border-box;
}

.handleLine {
  height: 1px;
  width: 30px;
  background-color: var(--accent-color);
  border-radius: 1px;
}

.verticalHandle {
  width: 30px;
  padding: 12px 0px;
  cursor: move;
  box-sizing: border-box;
  display: block;
  align-content: center;
  transform: rotate(90deg);
}

#undo {
  position: absolute;
  top: 8px;
  right: 8px;
}

button {
  font-family: "VCR";
  text-transform: uppercase;
  z-index: 5;
  height: 40px;
  width: auto;
  min-width: 40px;
  padding: 0px 24px;
  color: white;
  background: var(--ui-bg-color);
  margin: 0px;
  border: none;
  /* border-top: 1px solid #555; */
  border-radius: 8px;
  box-sizing: border-box;
  margin-right: 2px;
}

.primaryButton {
  background-color: var(--accent-color);
  outline: none;
  padding: 0px 8px;
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--ui-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 40px;
}

#drawingCanvas {
  position: absolute;
   z-index: 2;
}

.toolbar {
  background-color: rgba(var(--ui-bg-color-r),var(--ui-bg-color-g),var(--ui-bg-color-b),0.8);
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px;
  color: white;
  z-index: 5;
  display: block;
  border-radius: 6px; 
  width: -moz-fit-content;
  width: fit-content;
}

#mainToolbar {
  position: absolute;
  top: 0;
  left: calc(50% - 160px);
  z-index: 6;
}

#toolSelection {
  padding-left: 6px;
  white-space: discard;
  display: flex;
  width: 300px;
  float: left;
}

#cameraControlSelection {
  white-space: discard;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 50px;
  float: right;
  height: 152px;
  position: absolute;
  top: 0px;
  right: 12px;
  padding-top: 50px;
  /* remove the display none if you want to enable camera controls selection again */
  display: none; 
}

#toolSelection span, #cameraControlSelection span {
  display: inline-block;
  box-sizing: border-box;
  width: calc(33.3% - 2px);
  text-align: center;
}

#toolSelection > span > input[type="radio"] + label {
  min-height: 40px;
  height: 30px;
}

#cameraControlSelection > span > input[type="radio"] + label {
  height: 30px;
  min-height: 30px;
  min-width: 50px;
  width: 50px;
  font-size: 0.8em;
}

.lineTools {
  display: block;
}

.toolbarLabel {
  margin-bottom: 7px;
}

.toolbarLabel:not(:first-child) {
  margin-top: 13px;
}

#lineWidth, #lineColor, #mirror {
  display: flex;
}

#lineWidth span, #lineColor>span, #mirror>span, #transformationSelection>span {
  box-sizing: border-box;
}

#transformationSelection {
  position: relative;
  white-space: discard;
  display: flex;
}

#toolSelection input[type="radio"],#transformationSelection input[type="radio"], #lineWidth input[type="radio"], #mirror input[type="radio"], #lineColor input[type="radio"], #cameraControlSelection input[type="radio"] {
  opacity: 0;
  position: relative;
  width: 0;
  display: none;
}

input[type="radio"] + label {
  font-size: 12px;
  color: white;
  background: var(--ui-bg-color);
  /* box-shadow: 0px -4px 4px rgba(51, 51, 51, 0.25); */
  border: none;
  /* border-top: 1px solid #444; */
  box-sizing: border-box;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  display: flex;
}

span:not(:last-child) {
  margin-right: 2px;
}

span:first-child > label:nth-child(2) {
  border-radius: 8px 0 0 8px;
}

#toolSelection span:first-child > label:nth-child(2) {
  border-radius: 0px 0 0 8px;
}

span:last-child > label:nth-child(2) {
  border-radius: 0 8px 8px 0;
  margin-right: 0px;
}

#toolSelection span:last-child > label:nth-child(2) {
  border-radius: 0px 0 8px 0;
}

input[type="radio"]:checked + label {
  color: var(--accent-color);
  text-shadow: 0px 0px 1px var(--accent-color);
  border: 1px solid var(--accent-color);
  /* box-shadow: inset 1px 1px 6px #111, inset -1px -1px 6px #333; */
}

/* span:first-child > input[type="radio"]:checked + label + div {
  height: 1px;
  display: block;
  float: right;
  width: 90%;
  opacity: 0.7;
  background: var(--accent-color);
  border-radius: 0px 0 0 1px;
  content: '';
}

span:not(:first-child):not(:last-child) > input[type="radio"]:checked + label + div {
  height: 1px;
  display: block;
  width: 100%;
  background: var(--accent-color);
  opacity: 0.7;
  content: '';
}

span:last-child > input[type="radio"]:checked + label + div {
  height: 1px;
  display: block;
  width: 90%;
  opacity: 0.7;
  background: var(--accent-color);
  border-radius: 0 0 1px 0;
  content: '';
} */

#cameraControlSelection span > label {
  border-radius: 0px;
  border: none;
  box-shadow: none;
}

#cameraControlSelection span > input[type="radio"]:checked + label + div {
  border: none;
  background: none;
}

#cameraControlSelection span > input[type="radio"]:checked + label {
  border: 1px solid var(--accent-color);
}

#toolSelection span label, #transformationSelection span label, #cameraControlSelection span label {
  display: grid;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  min-width: 60px;
  box-sizing: border-box;
  text-align: center;
 }
 
 /* @media (hover: none) {
  #toolSelection span input[type="radio"]:checked + label::after {
    content: "one finger";
    margin-top: -8px;
    font-size: 0.75em;
    line-height: 0.5em;
    text-shadow: none;
    color: #FFFFFF;
  }
  
  .label-camera::after {
     content: "two \a fingers";
   }
}

@media (hover: hover) and (pointer: fine) {
  #toolSelection span input[type="radio"]:checked + label::after {
    content: "left mouse";
    margin-top: -8px;
    font-size: 0.75em;
    line-height: 0.5em;
    text-shadow: none;
    color: #FFFFFF;
  }
  
   .label-camera::after {
     content: "Right \a mouse";
   }
} */


 #duplicate {
  margin-top: 10px;
  width: 100%;
  display: grid;
  align-content: center;
  vertical-align: center;
  text-align: center;
  color: var(--accent-color);
}

.indicator {
  margin: 0 auto;
}

#smallestLineWidthIndicator{
  height: 1px;
  width: 1px;
  background-color: var(--line-color-lightest);
  border-radius: 3px;
  display: grid;
}

#smallLineWidthIndicator{
  height: 3px;
  width: 3px;
  background-color: var(--line-color-lightest);
  border-radius: 3px;
  display: grid;
}
#mediumLineWidthIndicator{
  height: 10px;
  width: 10px;
  background-color: var(--line-color-lightest);
  border-radius: 10px;
  display: grid;
}
#largeLineWidthIndicator{
  height: 22px;
  width: 22px;
  background-color: var(--line-color-lightest);
  border-radius: 30px;
  display: grid;
}
 
.mirrorRadio {
  border-radius: 10px;
  text-align: center;
}

#mirrorX + label>span {
  color: #FF6600 !important;
  text-shadow: none;
}

#mirrorY + label>span {
  color: #99FF00;
  text-shadow: none;
}

#mirrorZ + label>span {
  color: #0099FF;
  text-shadow: none;
}

.colorSelector {
  height: 15px;
  width: 15px;
  border-radius: 3px;
  display: grid;
}

#lightestColorSelector {
  background-color: var(--line-color-lightest);
}
#lightColorSelector {
  background-color: var(--line-color-light);
}
#mediumColorSelector {
  background-color: var(--line-color-medium);
}
#darkColorSelector {
  background-color: var(--line-color-dark);
}

/* #lineSelection {
  left: 10px;
} */

/* .lineWidthLabel {
  margin-right: 8px;
  width: 40px;
  text-align: center;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

#distance {
  width: 100%;
  background-color: var(--accent-color);
}

.depthLabel {
  font-size: 0.6em;
}

.near {
  float: right;
}

#indicator {
  height: 1px;
  width: 1px;
  transform-origin: center;
  display: inline;
  border-radius: 40px;
}

/* 
#themeSelection {
  top: auto;
  bottom: 40px;
  right: 160px;
}

#autoRotate {
  position: absolute;
  bottom: 40px;
  right: 10px;
  width: 100px;
  background-color:var(--ui-bg-color);
  padding: 16px;
  z-index: 5;
} */

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.hidden {
  display: none !important;
}

#more {
  position: absolute;
  bottom: 8px;
  left: 8px;
  z-index: 5;
}

#overflowMenu {
  background-color: rgba(var(--ui-bg-color-r),var(--ui-bg-color-g),var(--ui-bg-color-b),6);
  position: absolute;
  bottom: 56px;
  left: 8px;
  padding: 8px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

#overflowMenu button {
  background: none;
  text-align: left;
}

.blackButton {
  color: white;
  background-color: var(--ui-bg-color);
  border: none;
  border-radius: 6px;
  padding: 8px;
}

#toggleUi {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 4;
}

#share {
  position: absolute;
  bottom: 10px;
  right: 150px;
  z-index: 5;
}

/*MODAL*/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 40%;
  max-width: 600px;
  height: auto;
  margin: 0px auto;
  padding: 14px;
  /* background-color: var(--ui-bg-color); */
  color: #ffffff;
  border-radius: 2px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33); */
  box-sizing: content-box;
  transition: all 0.3s ease;
  font-weight: 400;
  -webkit-touch-callout: default;
  -webkit-user-select: default;
  -khtml-user-select: default;
  -moz-user-select: default;
  -ms-user-select: default;
}

.modal-body {
  display: inline-block;
  -webkit-touch-callout: default;
  -webkit-user-select: default;
  -khtml-user-select: default;
  -moz-user-select: default;
  -ms-user-select: default;
}

.modal-centered {
  width: 100%;
  text-align: center;
  margin: 0;
}

.modal-header {
  font-size: 1em;
  line-height: 1.3em;
  display: block;
  margin-bottom: 1em;
}

.modal-helptext {
  font-size: 1em;
  line-height: 1.3em;
  display: block;
  margin-bottom: 1em;
}

.modal-centered .modal-helptext{
  margin-bottom: 0;
}

.modal-left-column {
  width: 50%;
  float: left;
}

.modal-left-column>img {
  max-width: 90%;
  border: 1px solid white;
}

.modal-right-column {
  width: 50%;
  float: right;
}

.modal-button {
  margin-top: 3em;
  width: 50%;
  float: right;
}

.modal-button-close {
  position: absolute;
  top: 16px;
  right: 16px;
  color: white;
  height: 40px;
}

.modal-footer {
  height: fit-content;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.saveImg {
  max-width: 300px;
  -webkit-touch-callout: default;
  -webkit-user-select: default;
  -khtml-user-select: default;
  -moz-user-select: default;
  -ms-user-select: default;
}

/*TOAST*/
.toast {
  position: absolute;
  top: 90%;
  left: calc(50% - 100px);
  width: 200px;
  z-index: 9999;
  padding: 14px;
  background-color: var(--ui-bg-color);
  color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  box-sizing: content-box;
  transition: all 0.3s ease;
  font-weight: 400;
  text-align: center;
}